.input {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  display: block;
  height: calc(var(--control-height) * 1px);
  width: 100%;
  padding: 4px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--white-a10);
  color: var(--white);

  &::placeholder  {
    font-weight: 400;
    color: var(--gray);
  }

  &.error  {
    font-weight: 400;
    color: var(--red)!important;
  }
}
