.container {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 32px 0;
}

.section-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.section-title {
  margin: 0;
  font-size: clamp(28px, 4vw, 40px);
  line-height: 1.2;
  font-weight: 600;
}
