.button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 54px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 0.9rem;
  padding: 6px 40px;
  outline: 0;
  text-decoration: none;
  transition: var(--t-base);

  &--red {
    background-color: var(--red);
    color: var(--white);

    &.button--outline {
      background-color: var(--red-a15);
      border: 1px solid var(--red-a80);
    }

    &:hover,
    &.button--outline:hover {
      background-color: var(--red-hover);
      color: var(--white);
    }
  }

  &--block {
    width: 100%;
  }

  &[disabled] {
    opacity: 0.5;
  }
}
