.checkbox {
  display: block;
  padding: 8px 0;

  &__input {
    position: absolute;
    z-index: 0;
    opacity: 0;

    &:checked+label {
      &::after {
        display: block;
      }

      &::before {
        background-color: var(--gray2);
      }
    }

    &:disabled {
      &+label {
        color: var(--gray);
        cursor: not-allowed;
      }

      &+label::before {
        border-color: var(--gray);
      }
    }
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 52px;
    font-size: 14px;
    line-height: calc(16/14*1em);
    color: var(--white);
    cursor: pointer;

    &::before {
      position: absolute;
      left: 0;
      top: -0.65em;
      content: '';
      box-sizing: border-box;
      display: block;
      margin-right: 5px;
      width: 32px;
      height: 32px;
      background-color: var(--gray2);
    }

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 10px;
      width: 14px;
      height: 8px;
      border-style: solid;
      border-color: var(--white);
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      display: none;
      background-color: var(--gray2);
    }
  }
}
