.textarea {
  position: relative;

  &__input {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    resize: none;
    display: block;
    height: calc(156 * 1px);
    width: 100%;
    padding: 16px 20px;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--white-a10);
    color: var(--white);

    &::placeholder  {
      color: var(--gray);
    }

    :global(.error) & {
      background-color: var(--red-a20);
    }
  }
}
