.cards {
  overflow: hidden;
}

.cardsHeader {
  margin-bottom: 24px!important;
}

.slider {
  position: relative;
}

.swiper {
  overflow: inherit!important;
}

.card {
  width: fit-content!important;
}

.arrow {
  display: grid;
  padding: 0 7px;
  align-items: center;
  color: var(--red);

  &:first-of-type {
    margin-left: auto;
  }

  &:global(.swiper-button-disabled) {
    color: inherit;
    opacity: 0.4;
  }
}
