.cards {
  overflow: hidden;
}

.cardsHeader {
  margin-bottom: 24px!important;
}

.slider {
  position: relative;
}

.swiper {
  overflow: inherit!important;
}

.card {
  width: fit-content!important;
}
