.subscription {
  padding: 40px 0 88px;
}

.subscriptionRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 90px;
  align-items: start;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-gap: 40px 0;
  }
}

.contacts {
  display: grid;
  align-items: start;
  grid-gap: 32px 0;

  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
  }

  &__value {
    margin: 0;
    font-size: clamp(26px, 2.4vw, 32px);
    font-weight: 700;

    a {
      color: inherit;
    }
  }
}
